@charset "utf-8";

ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:white;
    list-style-type: none;
    text-decoration: none;
    top: 0;
}
.link{
    text-decoration: none;
}
li{
    padding: 15px;
    text-align: center;
    color: black;
}
li:hover{
    background-color: lightgray;
}
 .activeLink {
     border-bottom: 2px solid skyblue;
}
